<div id="contact-page" class="content container">
    <div class="row">
        <div class="col-xs-12" role="main">

            <h2>联系我们</h2>
            <div class="divider"></div>
            <div class="section-seperator">
                <div class="content container">
                    <div class="row">
                        <!-- Contact List -->
                        <div class="col-sm-6 sm-margin-b-50">
                            <h4><a href="http://my.shu.edu.cn/Index.aspx?TID=4197" target="_blank">邹国兵</a> <span class="text-uppercase margin-l-20">团队负责人</span></h4>
                            <p>SCDM实验室 (Lab of Service Computing and Data Mining), 上海大学</p>
                            <ul class="list-unstyled contact-list">
                                <li>guobingzou(at)gmail.com</li>
                                <li>gbzou(at)shu.edu.cn</li>
                            </ul>
                        </div>
                        <!-- End Contact List -->
                    </div>
                    <!--// end row -->
                </div>
            </div>

            <!-- Baidu Map -->
            <map-presentation></map-presentation>

            <!-- Comment -->
            <div class="section-seperator">
                <div class="content-md container">
                    <div class="row margin-b-20">
                        <div class="col-sm-6">
                            <h2>我们在上大</h2>
                            <p>欢迎来到上海大学交流访问！</p>
                        </div>
                    </div>
                    <!--// end row -->

                    <div class="row">
                        <div class="masonry-grid">
                            <!-- <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-6"></div> -->
                            <div class="masonry-grid-item col-sm-12">
                                <!-- Work -->
                                <div class="work">
                                    <div class="work-overlay">
                                        <img class="full-width img-responsive" src="assets/images/1900x500/school.jpg">
                                    </div>
                                    <div class="work-content">
                                        <h3 class="color-white margin-b-5">上海大学</h3>
                                        <p class="color-white margin-b-0">宝山校区</p>
                                    </div>
                                    <a class="content-wrapper-link"></a>
                                </div>
                                <!-- End Work -->
                            </div>
                        </div>
                        <!-- End Masonry Grid -->
                    </div>
                </div>
            </div>
            <!-- End Comment -->

        </div>
    </div>
</div>


<!--========== END PAGE LAYOUT ==========-->