<!--========== FOOTER ==========-->
<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

<!-- Copyright -->
<div class="bg-color-sky-light">
    <div class="content container" id="footer">
        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs">
                <a href="#"><img class="footer-logo" src="./assets/images/scdm-logo-colorful-72ppi.png"></a>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 text-right">
                <p class="margin-b-0 fweight-700">
                    <a href="http://www.ces.shu.edu.cn" target="_blank">School of Computer Engineering and Science Shanghai University</a>
                </p>
                <p class="margin-b-0"><a href="http://www.shu.edu.cn/" target="_blank">Shanghai University</a></p>
                <p class="margin-b-0"><a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备09014157</a></p>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Copyright -->