<!--========== FOOTER ==========-->
<!-- Copyright -->
<div class="content container">
    <div class="row">
        <div class="col-xs-6">
            <img class="footer-logo" src="./assets/images/logo.svg" alt="Acidus Logo">
        </div>
        <div class="col-xs-6 text-right">
            <p class="margin-b-0 fweight-700">Lab of Service Computing and Data Mining</p>
            <p class="margin-b-0"><a href="http://www.shu.edu.cn" target="_blank">ShangHai University</a></p>
        </div>
    </div>
    <!--// end row -->
</div>
<!-- End Copyright -->