<!--========== FOOTER ==========-->
<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

<!-- Copyright -->
<div class="bg-color-sky-light">
    <div class="content container" id="footer">
        <div class="row">
            <div class="col-xs-6">
                <a href="#"><img class="footer-logo" src="./assets/images/scdm-logo-colorful.svg"></a>
            </div>
            <div class="col-xs-6 text-right">
                <p class="margin-b-0 fweight-700">
                    <a href="http://dmis.shu.edu.cn">Lab of Service Computing and Data Mining</a>
                </p>
                <p class="margin-b-0"><a href="#" target="_blank">Shanghai University</a></p>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Copyright -->