<div id="papers-page" class="content container">
    <div class="row">
        <div class="col-xs-10" role="main">

            <h2>SCDM 论著</h2>

            <div class="main" [scrollSpyIndex]="{id: 'y2018', selector: 'anchor'}">
                <!-- year 2018 -->
                <div class="divider"></div>
                <h3 id="y2018" class="anchor">2018（6篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Mingqing Huang, Guobing Zou*, Bofeng Zhang*, Yue Liu, Keyuan Jiang. Overlapping community detection in heterogeneous social network via user model. Information Sciences, Vol. 432, pp. 164-184, 2018. (SCI, IF=4.832, 中科院1区)</p>
                        <p>[2] Guobing Zou, Zhimin Zhou, Mei Zhao, Sen Niu, Yanglan Gan*. Granularity-based Uncertain QoS Partitioning for Web Service Reliability. Journal of Internet Technology, pp. 1-11, in press, 2018. (SCI, IF=1.930, 中科院4区)</p>
                        <p>[3] Sen Niu†, Guobing Zou†*, Yanglan Gan*, Zhimin Zhou, Bofeng Zhang. Uncertain composition of Web services via non-deterministic planning. Journal of Internet Technology, pp. 1-12, in press, 2018. (SCI, IF=1.930, 中科院4区,)</p>
                        <p>[4] Mingqing Huang, Guobing Zou*, Bofeng Zhang*, Yanglan Gan, Keyuan Jiang. Identifying Influential Individuals in Microblogging Networks using Graph Partitioning. Expert Systems with Applications, pp. 1-17, 2018. (SCI, IF=3.928,
                            中科院2区, major revision) </p>
                        <p>[5] Sen Niu, Guobing Zou*, Yanglan Gan, Yanglan Xiang, Bofeng Zhang. Towards the optimality of QoS-aware Web service composition with uncertainty. International Journal of Web and Grid Services, pp. 1-24, 2018. (SCI, IF=1.105,
                            中科院3区, under review)</p>
                        <p>[6] Shulin Cheng, Bofeng Zhang*, Guobing Zou*, Mingqing Huang, Zhu Zhang. Friend Recommendation in Social Networks Based on Multi-source Information Fusion. International Journal of Machine Learning and Cybernetics, pp. 1-28, 2018.
                            (SCI, IF=1.699, 中科院4区, minor revision) </p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2017 -->
                <div class="divider"></div>
                <h3 id="y2017" class="anchor">2017（4篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Wang Li, Zhimin Zhou, Sen Niu, Yanglan Gan*, Bofeng Zhang. Clustering-based uncertain QoS prediction of Web services via collaborative filtering. International Journal of Web and Grid Services, Vol. 13, No. 4,
                            pp. 403-424, 2017.(SCI, IF=1.105, 中科院3区)</p>
                        <p>[2] Sen Niu, Guobing Zou*, Yanglan Gan, Yang Xiang, Bofeng Zhang. Towards Uncertain QoS-aware Service Composition via Multi-objective Optimization. In Proc. of International Conference on Web Services (ICWS), pp. 894-897, 2017.
                            (CCF B类)</p>
                        <p>[3] Shulin Cheng, Bofeng Zhang*, Guobing Zou. A Rating-Based Integrated Recommendation Framework with Improved Collaborative Filtering Approaches. International Journal of Computers Communications & Control, Vol. 12, No. 3, pp.
                            307-322, 2017. (SCI, IF=1.374, 中科院4区)</p>
                        <p>[4] 程树林, 张博锋, 邹国兵. 基于用户和项目的双视角协同过滤推荐方法. 应用科学学报, No. 3, pp. 326-336, 2017.</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2016 -->
                <div class="divider"></div>
                <h3 id="y2016" class="anchor">2016（7篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Sen Niu†, Guobing Zou†*, Yanglan Gan, Zhimin Zhou, Bofeng Zhang. UCLAO* and BHUC: Two novel planning algorithms for uncertain Web service composition. In Proc. of 13th IEEE International Conference on Services Computing (SCC),
                            San Francisco, USA, pp. 531-538, 2016. (CCF C类)</p>
                        <p>[2] Yanglan Gan, Han Tao, Guobing Zou, Cairong Yan and Jihong Guan*. Dynamic epigenetic mode analysis using spatial temporal clustering. BMC Bioinformatics, 2016 , 17(537): 213-220. (SCI, IF=2.448, 中科院2区)</p>
                        <p>[3] Guobing Zou, Mei Zhao, Sen Niu, Yanglan Gan, Bofeng Zhang. Computing uncertain skyline of Web services via interval number. In Proc. of 17th IEEE/ACIS International Conference on Software Engineering, Artificial Intelligence,
                            Networking and Parallel/Distributed Computing (SNPD), pp. 613-618, 2016. (EI)</p>
                        <p>[4] Mingqing Huang, Bofeng Zhang*, Guobing Zou*, Chengwei Gu, Peiye Wu, Shulin Cheng, Zhu Zhang. Socialized user modeling in microblogging scenarios for interest prediction. In Proc. of 2016 IEEE Cyber Science and Technology Congress
                            (CyberSciTech), 2016. (EI)</p>
                        <p>[5] Chengwei Gu, Bofeng Zhang*, Xinyue Wan, Mingqing Huang, Guobing Zou*. The modularity-based hierarchical tree algorithm for multi-class classification. In Proc. of 17th IEEE/ACIS International Conference on Software Engineering,
                            Artificial Intelligence, Networking and Parallel/Distributed Computing (SNPD), pp. 625-629, 2016. (EI)</p>
                        <p>[6] Mingjun Xin, Shunxiang Li, Liyuan Zhou, Guobing Zou. A Mobile Services Collaborative Recommendation Algorithm Based on Location-Aware Hidden Markov Model. In Proc. of International Conference on Geo-Informatics in Resource
                            Management and Sustainable Ecosystems (GRMSE), pp 297-306, 2016.</p>
                        <p>[7] 刘大海, 张博锋, 邹国兵, 顾程伟. 微博用户模型复杂网络中多维有向社区发现.计算机应用与软件, Vol. 33, No. 7, pp. 129-133, 2016.</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2015 -->
                <div class="divider"></div>
                <h3 id="y2015" class="anchor">2015（6篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Jianxing Zheng, Bofeng Zhang, Xiaodong Yue, Guobing Zou. Neighborhood-user profile based on perception relationship in micro-blog scenario. Journal of Web Semantics, Vol. 34, pp. 13-26, 2015. (SCI, IF=1.075, CCF B类)</p>
                        <p>[2] Honghao Zhu, Shaochun Wu, Guobing Zou, Naibin Luo. Effective user recommendation model for online survey via BP neural network. In Proc. of the 15th IEEE International Conference on Scalable Computing and Communications (ScalCom),
                            pp. 1798-1802, 2015. (EI)</p>
                        <p>[3] Naibin Luo, Shaochun Wu, Guobing Zou, Xiang Shuai. Online survey prediction model for high response rate via decision tree. In Proc. of the 15th IEEE International Conference on Scalable Computing and Communications (ScalCom),
                            pp. 1792-1797, 2015. (EI)</p>
                        <p>[4] Kaiqiang Guo, Shaochun Wu, Guobing Zou, Honghao Zhu. Multiple user characteristic models for online survey based on FP-tree algorithm. In Proc. of the 15th IEEE International Conference on Scalable Computing and Communications
                            (ScalCom), pp. 1786-1791, 2015. (EI)</p>
                        <p>[5] Xiaowei Zhu, Shaochun Wu, Guobing Zou. User behavior detection for online survey via sequential pattern mining. In Proc. of 5th International Conference on Instrumentation and Measurement, Computer, Communication, and Controlthe
                            (IMCCC), pp. 493-497, 2015. (EI)</p>
                        <p>[6] Sen Shao, Shaochun Wu, Guobing Zou, L. Chen. Effective user invitation models for online survey using clustering algorithm. In Proc. of 5th International Conference on Instrumentation and Measurement, Computer, Communication,
                            and Controlthe (IMCCC), pp. 1445-1449, 2015. (EI)</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2014 -->
                <div class="divider"></div>
                <h3 id="y2014" class="anchor">2014（9篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Qiang Lu, Yixin Chen, Ruoyun Huang, You Xu, Yang Xiang. QoS-Aware dynamic composition of Web services using numerical temporal planning. IEEE Transactions on Services Computing, Vol. 7, No. 1, pp. 18-31, 2014.
                            (SCI, IF=3.520, 中科院1区)</p>
                        <p>[2] Guobing Zou, Yanglan Gan, Yixin Chen, Bofeng Zhang. Dynamic composition of Web services using efficient planners in large-scale service repository. Knowledge-Based Systems, Vol. 62, pp. 98-112, 2014. (SCI, IF=4.529, 中科院2区)</p>
                        <p>[3] Guobing Zou, Yanglan Gan, Yixin Chen, Bofeng Zhang, Ruoyun Huang, You Xu, Yang Xiang. Towards automated choreography of Web services using planning in large scale service repositories. Applied Intelligence, Vol. 41, No. 2,
                            pp. 383-404, 2014. (SCI, IF=1.904, CCF C类)</p>
                        <p>[4] Yanglan Gan, Guobing Zou, Jihong Guan, Guangwei Xu. A novel wavelet-based approach for predicting nucleosome positions using DNA structural information. IEEE/ACM Transactions on Computational Biology and Bioinformatics, 11(4),
                            pp. 638-647, 2014. (SCI, IF=1.955, 中科院2区)</p>
                        <p>[5] Guobing Zou, Yanglan Gan, Sen Niu, Mei Zhao, Bofeng Zhang. Towards optimal discovery of Web services for multiple QoS constraints and preferences. International Journal of Web Engineering and Technology, Vol. 9, No. 3, pp.
                            277-299, 2014. (EI)</p>
                        <p>[6] Guobing Zou, Yanglan Gan, Jianxing Zheng, Bofeng Zhang. Service composition and user modeling for personalized recommendation in cloud computing. In Proc. of IEEE ICCCNT, pp. 1-7, 2014. (EI)</p>
                        <p>[7] Yajun Gu, Bofeng Zhang, Guobing Zou, Mingqing Huang, Keyuan Jiang. Overlapping community detection in social network based on microblog user model. In Proc. of International Conference on Data Science and Advanced Analytics
                            (DSAA), 2014. (EI)</p>
                        <p>[8] Jianxing Zheng, Bofeng Zhang, Guobing Zou, Xiaodong Yue. Diversification recommendation of popular articles in micro-blog scenario. In Proc. of International Conference on Data Science and Advanced Analytics (DSAA), 2014. (EI)</p>
                        <p>[9] 甘杨兰, 赵梅, 牛森, 邹国兵*. 基于云仿真环境数据挖掘的服务分类方法.计算机仿真, Vol. 31, No. 10, pp. 460-465, 2014.</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2013 -->
                <div class="divider"></div>
                <h3 id="y2013" class="anchor">2013（5篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Bofeng Zhang, Jianxing Zheng, Jianhua Ma, Yinsheng Li, Guobing Zou, Qun Jin. Research on life-cycle of user model in U-Business. Personal and Ubiquitous Computing, Springer, Vol. 17, pp.1449-1457, 2013. (SCI, IF=2.395, CCF
                            C类)
                        </p>
                        <p>[2] Yue Liu, Binkai Shi, Guobing Zou, Zhe Xu, Effective Personalized Recommendation using United Auxiliary Domain based Weighted Rating Model in Large-Scale BT Download Datasets. Journal of Convergence Information Technology, Vol.
                            8, No. 8, pp. 80-87, 2013. (EI)</p>
                        <p>[3] Shaochun Wu, Guobing Zou, Honghao Zhu, Xiang Shuai, Liang Chen, Bofeng Zhang. The Dynamically Efficient Mechanism of HDFS Data Prefetching. In Proc. of the 2013 IEEE International Conference on Internet of Things (iThings),
                            pp. 2188-2193, 2013. (EI)</p>
                        <p>[4] Jianxing Zheng, Bofeng Zhang, Guobing Zou. Multi-granularity recommendation based on ontology user model. In Proc. of the 2013 IEEE International Conference on Internet of Things (iThings), pp. 2194-2199, 2013. (EI)</p>
                        <p>[5] Susu Jiang, Bofeng Zhang, Guobing Zou, Daming Wei. The possibility of normal gait analysis based on a smart phone for healthcare. In Proc. of the 2013 IEEE International Conference on Internet of Things (iThings), 2013. (EI)</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2012 -->
                <div class="divider"></div>
                <h3 id="y2012" class="anchor">2012（3篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Yixin Chen, Ruoyun Huang, You Xu, Yang Xiang. Towards automated choreographing of Web services using planning. In Proc. of the 26th AAAI Conference on Artificial Intelligence (AAAI), pp. 178-184, 2012. (CCF A类)</p>
                        <p>[2] Guobing Zou, Bofeng Zhang, Jianxing Zheng, Yinsheng Li, Jianhua Ma. MaaS: Model as a service in cloud computing and Cyber-I space. In Proc. of the 12th IEEE International Conference on Computer and Information Technology (CIT),
                            pp. 1125-1130, 2012. (EI)</p>
                        <p>[3] Yue Liu, Binkai Shi, Guobing Zou, Zhe Xu. United auxiliary domain based weighted rating model for data sparse in collaborative filtering. In Proc. of the International Conference on Intelligent Computing and Applications (ICA-12),
                            Springer, pp. 80-87, 2012. (EI) </p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2011 -->
                <div class="divider"></div>
                <h3 id="y2011" class="anchor">2011（2篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Yang Xiang, Yanglan Gan, Yixin Chen. A novel approach to annotating Web service based on interface concept mapping and semantic expansion. Soft Computing, Springer, Vol. 15(5), pp. 929-938, 2011. (SCI, IF=2.472,
                            CCF C类)</p>
                        <p>[2] Paras Tiwari, Guobing Zou, Yixin Chen. A Web application for Web service composition using AI planner-based method. In Proc. of the Graduate Student Research Symposium (WUGSS), Washington University in St. Louis, 2011.</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2010 -->
                <div class="divider"></div>
                <h3 id="y2010" class="anchor">2010（3篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Yixin Chen, Yang Xiang, Ruoyun Huang, You Xu. AI planning and combinatorial optimization for Web service composition in cloud computing. In Proc. of the 2010 Annual International Conference on Cloud Computing and
                            Virtualization (CCV-10), pp. 28-35, 2010.</p>
                        <p>[2] 邹国兵, 向阳, 甘杨兰, 孙红雨, 张波. 利用语义匹配度计算的Web服务发现方法. 小型微型计算机系统, Vol. 31, No. 5, pp. 807-812, 2010.</p>
                        <p>[3] Dong Wang, Yang Xiang, Qian Chen, Guobing Zou. Research on ontology-based representation method for textual cases. In Proceedings of the 2010 International Conference on Artificial Intelligence and Computational Intelligence
                            (AICI-10), pp. 17-20, 2010. (EI)</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2009 -->
                <div class="divider"></div>
                <h3 id="y2009" class="anchor">2009（3篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Yang Xiang, Yanglan Gan, Dong Wang, Zengbao Liu. An agent-based Web service selection and ranking framework with QoS. In Proc. of the IEEE International Conference on Computer Science and Information Technology
                            (ICCSIT-09), pp. 37-42, 2009. (EI)</p>
                        <p>[2] Guobing Zou, Yang Xiang, Yanglan Gan, Hongyu Sun, Zengbao Liu. An efficient Web service annotation method utilizing concept mapping and interface expansion. In Proc. of the 6th International Conference on Fuzzy Systems and
                            Knowledge Discovery (FSKD-09), pp. 183-187, 2009. (EI)</p>
                        <p>[3] Dong Wang, Yang Xiang, Guobing Zou, Bo Zhang. Research on ontology-based indexing in CBR. In Proceedings of the 2009 International Conference on Artificial Intelligence and Computational Intelligence (AICI-09), pp. 238-241,
                            2009. (EI)</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2008 -->
                <div class="divider"></div>
                <h3 id="y2008" class="anchor">2008（2篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Bofeng Zhang, Yanglan Gan, Jianwen Zhang. An ontology-based methodology for semantic expansion search. In Proc. of the 5th International Conference on Fuzzy Systems and Knowledge Discovery (FSKD-08), pp. 453-457,
                            2008. (EI)</p>
                        <p>[2] Bo Zhang, Yang Xiang, Bei Zhang, Guobing Zou. Semantics driven decision making and its dynamic semantics presentation. In Proc. of International Conference on Intelligent Computation Technology and Automation (ICICTA-08), 2008.
                            (EI)
                        </p>
                    </div>
                </div>
                <!--// end row -->
            </div>


        </div>
        <div class="col-xs-2" role="complementary">
            <!-- topMargin调整滚动比率 -->
            <scrollSpy-index-render [scrollSpyIndexRenderOptions]="{id: 'y2018', spyId: 'window', topMargin: affixTopMargin+40}" [scrollSpyAffix]="{topMargin: affixTopMargin}" class="hidden-print hidden-xs hidden-sm">
            </scrollSpy-index-render>
        </div>
    </div>
</div>