<div id="papers-page" class="content container">
    <div class="row">
        <div class="col-xs-10" role="main">

            <h2>SCDM 论著</h2>

            <div class="main" [scrollSpyIndex]="{id: 'y2018', selector: 'anchor'}">
                <!-- year 2018 -->
                <div class="divider"></div>
                <h3 id="y2018" class="anchor">2018（8篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Mingqing Huang, Guobing Zou*, Bofeng Zhang*, Yue Liu, Keyuan Jiang. <br/><span class="fweight-700 color-link">Overlapping community detection in heterogeneous social network via user model.</span> Information Sciences, Vol.
                            432, pp. 164-184, 2018. (SCI, IF=4.832, 中科院1区)</p>
                        <p>[2] Mingqing Huang, Guobing Zou*, Bofeng Zhang*, Yanglan Gan, Keyuan Jiang. <br/><span class="fweight-700 color-link">Identifying Influential Individuals in Microblogging Networks using Graph Partitioning.</span> Expert Systems with Applications, https://doi.org/10.1016/j.eswa.2018.02.021, pp. 1-36, online first, 2018. (SCI, IF=3.928, 中科院2区) </p>
                        <p>[3] Shengye Pang, Guobing Zou*, Yanglan Gan*, Sen Niu, Bofeng Zhang. <br/><span class="fweight-700 color-link">Augmenting Probabilistic Topic Model for Web Service Classification.</span> In Proc. of International Conference on Web Services (ICWS), pp. 1-8, 2018. (CCF B类, under review)</p>
                        <p>[4] Sen Niu, Guobing Zou*, Yanglan Gan, Yanglan Xiang, Bofeng Zhang. <br/><span class="fweight-700 color-link">Towards the optimality of QoS-aware Web service composition with uncertainty.</span> International Journal of Web and Grid Services, pp. 1-26, in press, 2018. (SCI, IF=1.105, 中科院3区)</p>
                        <p>[5] Guobing Zou, Zhimin Zhou, Mei Zhao, Sen Niu, Yanglan Gan*. <br/><span class="fweight-700 color-link">Granularity-based Uncertain QoS Partitioning for Web Service Reliability.</span> Journal of Internet Technology, pp. 1-11, in press, 2018.  (SCI, IF=1.930, 中科院4区)</p>
                        <p>[6] Sen Niu†, Guobing Zou†*, Yanglan Gan*, Zhimin Zhou, Bofeng Zhang. <br/><span class="fweight-700 color-link">Uncertain composition of Web services via non-deterministic planning.</span> Journal of Internet Technology, pp. 1-12, in press, 2018. (SCI, IF=1.930, 中科院4区)</p>
                        <p>[7] Shulin Cheng, Bofeng Zhang*, Guobing Zou*, Mingqing Huang, Zhu Zhang. <br/><span class="fweight-700 color-link">Friend Recommendation in Social Networks Based on Multi-source Information Fusion.</span> International Journal of Machine Learning and Cybernetics, pp. 1-28, in press, 2018. (SCI, IF=1.699, 中科院4区)</p>
                        <p>[8] Weimin Li, Jun Xie, Yue Liu, Guobing Zou, Qun Jin. <br/><span class="fweight-700 color-link">A Novel Process Mining Algorithm for Adaptive Denoising In Cyber-Physical Systems.</span> IEEE Transactions on Cybernetics, pp. 1-14, 2018. (SCI, IF=7.384, 中科院1区, under review)</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2017 -->
                <div class="divider"></div>
                <h3 id="y2017" class="anchor">2017（4篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Wang Li, Zhimin Zhou, Sen Niu, Yanglan Gan*, Bofeng Zhang. <br/><span class="fweight-700 color-link">Clustering-based uncertain QoS prediction of Web services via collaborative filtering.</span> International Journal
                            of Web and Grid Services, Vol. 13, No. 4, pp. 403-424, 2017.(SCI, IF=1.105, 中科院3区)</p>
                        <p>[2] Sen Niu, Guobing Zou*, Yanglan Gan, Yang Xiang, Bofeng Zhang. <br/><span class="fweight-700 color-link">Towards Uncertain QoS-aware Service Composition via Multi-objective Optimization.</span> In Proc. of International Conference
                            on Web Services (ICWS), pp. 894-897, 2017. (CCF B类)</p>
                        <p>[3] Shulin Cheng, Bofeng Zhang*, Guobing Zou. <br/><span class="fweight-700 color-link">A Rating-Based Integrated Recommendation Framework with Improved Collaborative Filtering Approaches.</span> International Journal of Computers
                            Communications & Control, Vol. 12, No. 3, pp. 307-322, 2017. (SCI, IF=1.374, 中科院4区)</p>
                        <p>[4] 程树林, 张博锋, 邹国兵. <br/><span class="fweight-700 color-link">基于用户和项目的双视角协同过滤推荐方法.</span> 应用科学学报, No. 3, pp. 326-336, 2017.</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2016 -->
                <div class="divider"></div>
                <h3 id="y2016" class="anchor">2016（7篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Sen Niu†, Guobing Zou†*, Yanglan Gan, Zhimin Zhou, Bofeng Zhang. <br/><span class="fweight-700 color-link">UCLAO* and BHUC: Two novel planning algorithms for uncertain Web service composition.</span> In Proc. of 13th IEEE International
                            Conference on Services Computing (SCC), San Francisco, USA, pp. 531-538, 2016. (CCF C类)</p>
                        <p>[2] Yanglan Gan, Han Tao, Guobing Zou, Cairong Yan and Jihong Guan*. <br/><span class="fweight-700 color-link">Dynamic epigenetic mode analysis using spatial temporal clustering.</span> BMC Bioinformatics, 2016 , 17(537): 213-220.
                            (SCI, IF=2.448, 中科院2区)</p>
                        <p>[3] Guobing Zou, Mei Zhao, Sen Niu, Yanglan Gan, Bofeng Zhang. <br/><span class="fweight-700 color-link">Computing uncertain skyline of Web services via interval number.</span> In Proc. of 17th IEEE/ACIS International Conference
                            on Software Engineering, Artificial Intelligence, Networking and Parallel/Distributed Computing (SNPD), pp. 613-618, 2016. (EI)</p>
                        <p>[4] Mingqing Huang, Bofeng Zhang*, Guobing Zou*, Chengwei Gu, Peiye Wu, Shulin Cheng, Zhu Zhang. <br/><span class="fweight-700 color-link">Socialized user modeling in microblogging scenarios for interest prediction.</span> In Proc.
                            of 2016 IEEE Cyber Science and Technology Congress (CyberSciTech), 2016. (EI)</p>
                        <p>[5] Chengwei Gu, Bofeng Zhang*, Xinyue Wan, Mingqing Huang, Guobing Zou*. <br/><span class="fweight-700 color-link">The modularity-based hierarchical tree algorithm for multi-class classification.</span> In Proc. of 17th IEEE/ACIS
                            International Conference on Software Engineering, Artificial Intelligence, Networking and Parallel/Distributed Computing (SNPD), pp. 625-629, 2016. (EI)</p>
                        <p>[6] Mingjun Xin, Shunxiang Li, Liyuan Zhou, Guobing Zou. <br/><span class="fweight-700 color-link">A Mobile Services Collaborative Recommendation Algorithm Based on Location-Aware Hidden Markov Model.</span> In Proc. of International
                            Conference on Geo-Informatics in Resource Management and Sustainable Ecosystems (GRMSE), pp 297-306, 2016.</p>
                        <p>[7] 刘大海, 张博锋, 邹国兵, 顾程伟. <br/><span class="fweight-700 color-link">微博用户模型复杂网络中多维有向社区发现.计算机应用与软件,</span> Vol. 33, No. 7, pp. 129-133, 2016.</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2015 -->
                <div class="divider"></div>
                <h3 id="y2015" class="anchor">2015（6篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Jianxing Zheng, Bofeng Zhang, Xiaodong Yue, Guobing Zou. <br/><span class="fweight-700 color-link">Neighborhood-user profile based on perception relationship in micro-blog scenario.</span> Journal of Web Semantics, Vol. 34,
                            pp. 13-26, 2015. (SCI, IF=1.075, CCF B类)</p>
                        <p>[2] Honghao Zhu, Shaochun Wu, Guobing Zou, Naibin Luo. <br/><span class="fweight-700 color-link">Effective user recommendation model for online survey via BP neural network.</span> In Proc. of the 15th IEEE International Conference
                            on Scalable Computing and Communications (ScalCom), pp. 1798-1802, 2015. (EI)</p>
                        <p>[3] Naibin Luo, Shaochun Wu, Guobing Zou, Xiang Shuai. <br/><span class="fweight-700 color-link">Online survey prediction model for high response rate via decision tree.</span> In Proc. of the 15th IEEE International Conference
                            on Scalable Computing and Communications (ScalCom), pp. 1792-1797, 2015. (EI)</p>
                        <p>[4] Kaiqiang Guo, Shaochun Wu, Guobing Zou, Honghao Zhu. <br/><span class="fweight-700 color-link">Multiple user characteristic models for online survey based on FP-tree algorithm.</span> In Proc. of the 15th IEEE International
                            Conference on Scalable Computing and Communications (ScalCom), pp. 1786-1791, 2015. (EI)</p>
                        <p>[5] Xiaowei Zhu, Shaochun Wu, Guobing Zou. <br/><span class="fweight-700 color-link">User behavior detection for online survey via sequential pattern mining.</span> In Proc. of 5th International Conference on Instrumentation and
                            Measurement, Computer, Communication, and Controlthe (IMCCC), pp. 493-497, 2015. (EI)</p>
                        <p>[6] Sen Shao, Shaochun Wu, Guobing Zou, L. Chen. <br/><span class="fweight-700 color-link">Effective user invitation models for online survey using clustering algorithm.</span> In Proc. of 5th International Conference on Instrumentation
                            and Measurement, Computer, Communication, and Controlthe (IMCCC), pp. 1445-1449, 2015. (EI)</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2014 -->
                <div class="divider"></div>
                <h3 id="y2014" class="anchor">2014（9篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Qiang Lu, Yixin Chen, Ruoyun Huang, You Xu, Yang Xiang. <br/><span class="fweight-700 color-link">QoS-Aware dynamic composition of Web services using numerical temporal planning.</span> IEEE Transactions on Services
                            Computing, Vol. 7, No. 1, pp. 18-31, 2014. (SCI, IF=3.520, 中科院1区)</p>
                        <p>[2] Guobing Zou, Yanglan Gan, Yixin Chen, Bofeng Zhang. <br/><span class="fweight-700 color-link">Dynamic composition of Web services using efficient planners in large-scale service repository.</span> Knowledge-Based Systems, Vol.
                            62, pp. 98-112, 2014. (SCI, IF=4.529, 中科院2区)</p>
                        <p>[3] Guobing Zou, Yanglan Gan, Yixin Chen, Bofeng Zhang, Ruoyun Huang, You Xu, Yang Xiang. <br/><span class="fweight-700 color-link">Towards automated choreography of Web services using planning in large scale service repositories.</span>                            Applied Intelligence, Vol. 41, No. 2, pp. 383-404, 2014. (SCI, IF=1.904, CCF C类)</p>
                        <p>[4] Yanglan Gan, Guobing Zou, Jihong Guan, Guangwei Xu. <br/><span class="fweight-700 color-link">A novel wavelet-based approach for predicting nucleosome positions using DNA structural information.</span> IEEE/ACM Transactions
                            on Computational Biology and Bioinformatics, 11(4), pp. 638-647, 2014. (SCI, IF=1.955, 中科院2区)</p>
                        <p>[5] Guobing Zou, Yanglan Gan, Sen Niu, Mei Zhao, Bofeng Zhang. <br/><span class="fweight-700 color-link">Towards optimal discovery of Web services for multiple QoS constraints and preferences.</span> International Journal of Web
                            Engineering and Technology, Vol. 9, No. 3, pp. 277-299, 2014. (EI)</p>
                        <p>[6] Guobing Zou, Yanglan Gan, Jianxing Zheng, Bofeng Zhang. <br/><span class="fweight-700 color-link">Service composition and user modeling for personalized recommendation in cloud computing.</span> In Proc. of IEEE ICCCNT, pp.
                            1-7, 2014. (EI)</p>
                        <p>[7] Yajun Gu, Bofeng Zhang, Guobing Zou, Mingqing Huang, Keyuan Jiang. <br/><span class="fweight-700 color-link">Overlapping community detection in social network based on microblog user model.</span> In Proc. of International
                            Conference on Data Science and Advanced Analytics (DSAA), 2014. (EI)</p>
                        <p>[8] Jianxing Zheng, Bofeng Zhang, Guobing Zou, Xiaodong Yue. <br/><span class="fweight-700 color-link">Diversification recommendation of popular articles in micro-blog scenario.</span> In Proc. of International Conference on Data
                            Science and Advanced Analytics (DSAA), 2014. (EI)</p>
                        <p>[9] 甘杨兰, 赵梅, 牛森, 邹国兵*. <br/><span class="fweight-700 color-link">基于云仿真环境数据挖掘的服务分类方法.</span> 计算机仿真, Vol. 31, No. 10, pp. 460-465, 2014.</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2013 -->
                <div class="divider"></div>
                <h3 id="y2013" class="anchor">2013（5篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Bofeng Zhang, Jianxing Zheng, Jianhua Ma, Yinsheng Li, Guobing Zou, Qun Jin. <br/><span class="fweight-700 color-link">Research on life-cycle of user model in U-Business.</span> Personal and Ubiquitous Computing, Springer,
                            Vol. 17, pp.1449-1457, 2013. (SCI, IF=2.395, CCF C类)
                        </p>
                        <p>[2] Yue Liu, Binkai Shi, Guobing Zou, Zhe Xu, <br/><span class="fweight-700 color-link">Effective Personalized Recommendation using United Auxiliary Domain based Weighted Rating Model in Large-Scale BT Download Datasets.</span>                            Journal of Convergence Information Technology, Vol. 8, No. 8, pp. 80-87, 2013. (EI)</p>
                        <p>[3] Shaochun Wu, Guobing Zou, Honghao Zhu, Xiang Shuai, Liang Chen, Bofeng Zhang. <br/><span class="fweight-700 color-link">The Dynamically Efficient Mechanism of HDFS Data Prefetching.</span> In Proc. of the 2013 IEEE International
                            Conference on Internet of Things (iThings), pp. 2188-2193, 2013. (EI)</p>
                        <p>[4] Jianxing Zheng, Bofeng Zhang, Guobing Zou. <br/><span class="fweight-700 color-link">Multi-granularity recommendation based on ontology user model.</span> In Proc. of the 2013 IEEE International Conference on Internet of Things
                            (iThings), pp. 2194-2199, 2013. (EI)</p>
                        <p>[5] Susu Jiang, Bofeng Zhang, Guobing Zou, Daming Wei. <br/><span class="fweight-700 color-link">The possibility of normal gait analysis based on a smart phone for healthcare.</span> In Proc. of the 2013 IEEE International Conference
                            on Internet of Things (iThings), 2013. (EI)</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2012 -->
                <div class="divider"></div>
                <h3 id="y2012" class="anchor">2012（3篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Yixin Chen, Ruoyun Huang, You Xu, Yang Xiang. <br/><span class="fweight-700 color-link">Towards automated choreographing of Web services using planning.</span> In Proc. of the 26th AAAI Conference on Artificial
                            Intelligence (AAAI), pp. 178-184, 2012. (CCF A类)</p>
                        <p>[2] Guobing Zou, Bofeng Zhang, Jianxing Zheng, Yinsheng Li, Jianhua Ma. <br/><span class="fweight-700 color-link">MaaS: Model as a service in cloud computing and Cyber-I space.</span> In Proc. of the 12th IEEE International Conference
                            on Computer and Information Technology (CIT), pp. 1125-1130, 2012. (EI)</p>
                        <p>[3] Yue Liu, Binkai Shi, Guobing Zou, Zhe Xu. <br/><span class="fweight-700 color-link">United auxiliary domain based weighted rating model for data sparse in collaborative filtering.</span> In Proc. of the International Conference
                            on Intelligent Computing and Applications (ICA-12), Springer, pp. 80-87, 2012. (EI) </p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2011 -->
                <div class="divider"></div>
                <h3 id="y2011" class="anchor">2011（2篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Yang Xiang, Yanglan Gan, Yixin Chen. <br/><span class="fweight-700 color-link">A novel approach to annotating Web service based on interface concept mapping and semantic expansion.</span> Soft Computing, Springer,
                            Vol. 15(5), pp. 929-938, 2011. (SCI, IF=2.472, CCF C类)</p>
                        <p>[2] Paras Tiwari, Guobing Zou, Yixin Chen. <br/><span class="fweight-700 color-link">A Web application for Web service composition using AI planner-based method.</span> In Proc. of the Graduate Student Research Symposium (WUGSS),
                            Washington University in St. Louis, 2011.</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2010 -->
                <div class="divider"></div>
                <h3 id="y2010" class="anchor">2010（3篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Yixin Chen, Yang Xiang, Ruoyun Huang, You Xu. <br/><span class="fweight-700 color-link">AI planning and combinatorial optimization for Web service composition in cloud computing.</span> In Proc. of the 2010 Annual
                            International Conference on Cloud Computing and Virtualization (CCV-10), pp. 28-35, 2010.</p>
                        <p>[2] 邹国兵, 向阳, 甘杨兰, 孙红雨, 张波. <br/><span class="fweight-700 color-link">利用语义匹配度计算的Web服务发现方法. 小型微型计算机系统,</span> Vol. 31, No. 5, pp. 807-812, 2010.</p>
                        <p>[3] Dong Wang, Yang Xiang, Qian Chen, Guobing Zou. <br/><span class="fweight-700 color-link">Research on ontology-based representation method for textual cases.</span> In Proceedings of the 2010 International Conference on Artificial
                            Intelligence and Computational Intelligence (AICI-10), pp. 17-20, 2010. (EI)</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2009 -->
                <div class="divider"></div>
                <h3 id="y2009" class="anchor">2009（3篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Yang Xiang, Yanglan Gan, Dong Wang, Zengbao Liu. <br/><span class="fweight-700 color-link">An agent-based Web service selection and ranking framework with QoS.</span> In Proc. of the IEEE International Conference
                            on Computer Science and Information Technology (ICCSIT-09), pp. 37-42, 2009. (EI)</p>
                        <p>[2] Guobing Zou, Yang Xiang, Yanglan Gan, Hongyu Sun, Zengbao Liu. <br/><span class="fweight-700 color-link">An efficient Web service annotation method utilizing concept mapping and interface expansion.</span> In Proc. of the 6th
                            International Conference on Fuzzy Systems and Knowledge Discovery (FSKD-09), pp. 183-187, 2009. (EI)</p>
                        <p>[3] Dong Wang, Yang Xiang, Guobing Zou, Bo Zhang. <br/><span class="fweight-700 color-link">Research on ontology-based indexing in CBR.</span> In Proceedings of the 2009 International Conference on Artificial Intelligence and Computational
                            Intelligence (AICI-09), pp. 238-241, 2009. (EI)</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- year 2008 -->
                <div class="divider"></div>
                <h3 id="y2008" class="anchor">2008（2篇）</h3>
                <div class="row">
                    <div class="col-sm-11 sm-margin-b-50">
                        <p>[1] Guobing Zou, Bofeng Zhang, Yanglan Gan, Jianwen Zhang. <br/><span class="fweight-700 color-link">An ontology-based methodology for semantic expansion search.</span> In Proc. of the 5th International Conference on Fuzzy Systems
                            and Knowledge Discovery (FSKD-08), pp. 453-457, 2008. (EI)</p>
                        <p>[2] Bo Zhang, Yang Xiang, Bei Zhang, Guobing Zou. <br/><span class="fweight-700 color-link">Semantics driven decision making and its dynamic semantics presentation.</span> In Proc. of International Conference on Intelligent Computation
                            Technology and Automation (ICICTA-08), 2008. (EI)
                        </p>
                    </div>
                </div>
                <!--// end row -->
            </div>


        </div>
        <div class="col-xs-2" role="complementary">
            <!-- topMargin调整滚动比率 -->
            <scrollSpy-index-render [scrollSpyIndexRenderOptions]="{id: 'y2018', spyId: 'window', topMargin: affixTopMargin+40}" [scrollSpyAffix]="{topMargin: affixTopMargin}" class="hidden-print hidden-xs hidden-sm">
            </scrollSpy-index-render>
        </div>
    </div>
</div>