.blockquote:before {
    left: -50px;
}

.swiper-slide {
    border-left: 8px solid #a6a7aa;
    padding-left: 15px;
}

.col-sm-7, .col-sm-5{
    margin-top: 15px;
}

/* SIBLING FADE: fade out siblings around a hovered item */

.sibling-fade { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.sibling-fade > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade > * { transition: opacity 350ms linear 300ms, transform 350ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade:hover > * { opacity: 0.4; transform: scale(0.95); }
/* Fade out all items when the parent is hovered */

.sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; background: linear-gradient(to right, #f7f7f7, rgb(255, 255, 255))}
/* Fade in the currently hovered item */
