<!--========== PAGE LAYOUT ==========-->
<!-- Clients -->
<div class="content-md container">
    <div class="row margin-b-40">
        <div class="col-sm-12">
            <h2>SCDM 实验室</h2>
            <div class="row">
                <div class="col-sm-8">
                    <p>“SCDM”的含义是“Lab of Service Computing and Data Mining”, “服务计算与数据挖掘实验室”。 SCDM实验室位于
                        <a routerLink="/contact">上海大学宝山校区东区计算机大楼910室</a>，负责人是邹国兵副教授。</p>
                    <p>SCDM实验室现有博士生3名、学术型硕士生6名、工程硕士生1名。主要从事Web服务动态组合与优化、服务QoS预测与推荐、 分类与聚类算法、社交网络分析、 智能算法以及机器学习算法在生物信息学应用等方面的基础性理论研究与实际应用工作。欢迎对我们的研究方向感兴趣同学与课题组负责人邹国兵老师联系。
                        <br/>（<a href="mailto:guobingzou@gmail.com">guobingzou@gmail.com</a> 或 <a href="mailto:gbzou@shu.edu.cn">gbzou@shu.edu.cn</a>）</p>
                </div>
                <div class="col-sm-4">
                    <div class="work">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="assets/images/640x480/02.jpg" alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">SCDM</h3>
                            <p class="color-white margin-b-0">实验室的日常</p>
                        </div>
                        <a class="content-wrapper-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// end row -->
</div>
<!-- End Clients -->

<!-- Work -->
<div class="bg-color-sky-light">
    <div class="content-md container">
        <h2><a routerLink="/album">SCDMer's 的生活</a></h2>
        <!-- Masonry Grid -->
        <div class="masonry-grid">
            <!-- <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-6"></div> -->
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-6">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="assets/images/595x483/02.jpg" alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">单身怎么办，内部消化啊</h3>
                        <p class="color-white margin-b-0">周：你看~ 旺：emmm... <br/>庞：我的内心毫无波动。 霞：甚至还有点想... 向：笑！嘿嘿嘿。</p>
                    </div>
                    <a class="content-wrapper-link"></a>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-6">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="assets/images/595x240/03.jpg" alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">烧烤ing</h3>
                        <p class="color-white margin-b-0">蒋摄影师：哎哎哎，镜头中这还少一个人呢！</p>
                    </div>
                    <a class="content-wrapper-link"></a>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-6">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="assets/images/595x240/04.jpg" alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">顾村公园一角</h3>
                        <p class="color-white margin-b-0">春的气息，诗情画意。<span>就是有点虐狗。</span>
                        </p>
                    </div>
                    <a class="content-wrapper-link"></a>
                </div>
                <!-- End Work -->
            </div>
        </div>
        <!-- End Masonry Grid -->
    </div>
</div>
<!-- End Work -->

<!-- Features -->
<div class="section-seperator">
    <div class="content-md container">
        <h2><a routerLink="/news">SCDM 新闻动态</a></h2><br/>
        <div class="row">
            <div class="col-sm-4 sm-margin-b-50">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <h3>2017-9-25</h3>
                    <p>举办“服务计算前沿学术报告会”，邀请了王尚广、郑子彬和刘譞哲三位老师来我院交流访问。</p>
                    <a class="link" routerLink="/news">Read More</a>
                </div>
            </div>
            <div class="col-sm-4 sm-margin-b-50">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <h3>2017-9-10</h3>
                    <p>教师节，“小米智能家庭套装”想必是十分酷炫的教师节礼物了！</p>
                    <a class="link" routerLink="/news">Read More</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <h3>2017-3-31</h3>
                    <p>恰逢顾村公园樱花节，团建活动，烧烤走起。</p>
                    <a class="link" routerLink="/news">Read More</a>
                </div>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Features -->