<div id="projects-page" class="content container">
    <div class="row">
        <div class="col-xs-12" role="main">

            <h2>SCDM 相册</h2>
            <div class="divider"></div>
            <br/><br/>
            <p>这是最美的季节</p>
            <p>可以忘记梦想 到处都是花朵 满山阴影飘荡</p>
            <p>这是最美的阴影</p>
            <p>可以摇动阳光 轻轻走下山去 酒杯叮当作响</p>
            <p>这是最美的酒杯</p>
            <p>可以发出歌唱 放上花香捡回 四边都是太阳</p>
            <p>这是最美的太阳</p>
            <p>把花印在地上 谁要拾走影子 谁就拾走光芒</p>
            <p>——《答案》· 顾城</p>
            <br/>
            <p>SCDM 的点点滴滴，在此记录。</p>

        </div>
    </div>
</div>


<div class="bg-color-sky-light">
    <div class="content container">
        <h2>顾村公园烧烤 <small> 2017-03-31</small></h2>
        <p>适逢樱花盛开之际，SCDM 团队为增进SCDMer之间的感情，一起去顾村公园租烧烤位烧烤。</p>
        <!-- Masonry Grid -->
        <div class="masonry-grid">
            <!-- <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-6"></div> -->
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-6">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="assets/images/595x483/02.jpg">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">单身怎么办，内部消化啊</h3>
                        <p class="color-white margin-b-0">周：你看~ 旺：emmm... <br/>庞：我的内心毫无波动。 霞：甚至还有点想... 向：笑！嘿嘿嘿。</p>
                    </div>
                    <a class="content-wrapper-link"></a>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-6">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="assets/images/595x240/03.jpg">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">烧烤ing</h3>
                        <p class="color-white margin-b-0">蒋摄影师：哎哎哎，镜头中这还少一个人呢！</p>
                    </div>
                    <a class="content-wrapper-link"></a>
                </div>
                <!-- End Work -->
            </div>
            <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-6">
                <!-- Work -->
                <div class="work">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="assets/images/595x240/04.jpg">
                    </div>
                    <div class="work-content">
                        <h3 class="color-white margin-b-5">顾村公园一角</h3>
                        <p class="color-white margin-b-0">春的气息，诗情画意。<span>就是有点虐狗。</span>
                        </p>
                    </div>
                    <a class="content-wrapper-link"></a>
                </div>
                <!-- End Work -->
            </div>
        </div>
        <!-- End Masonry Grid -->
    </div>
</div>