<div id="projects-page" class="content container">
    <div class="row">
        <div class="col-xs-10" role="main">

            <h2>SCDM 项目</h2>

            <div class="main" [scrollSpyIndex]="{id: 'projects', selector: 'anchor'}">
                <!-- 科研项目 -->
                <div class="divider"></div>
                <h2 id="projects" class="anchor">科研项目</h2>
                <div class="row">
                    <div class="col-sm-7 sm-margin-b-50">
                        <p>科研项目是开展高水平科学研究和支撑高质量人才培养的重要依托，也是引领学科发展的重要力量。国家科技计划（专项、基金等）是SCDM项目和经费的重要来源。</p>
                        <p>2012年毕业于同济大学，获计算机应用技术专业博士学位。2009年10月-2011年10月，曾作为国家公派留学人员， 在美国华盛顿大学（Washington University in St. Louis）计算机科学与工程系，从事两年科研学习工作。2012年8月起，进入上海大学计算机工程与科学学院从事科研与教学工作，组建了服务计算与数据挖掘实验室。</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <img class="img-responsive" src="assets/images/projects-pic/projects.jpg" style="max-height:250px;">
                    </div>
                </div>
                <!--// end row -->

                <!-- 国家自然科学基金 -->
                <div class="divider"></div>
                <h3 id="国家自然科学基金" class="anchor">国家自然科学基金</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-responsive" src="assets/images/projects-pic/NSFC.png" style="max-height:250px;">
                    </div>
                    <div class="col-sm-7 col-sm-offset-1 sm-margin-b-50">
                        <p>国家自然科学基金委员会（英语：National Natural Science Foundation of China，缩写作NSFC），简称自然科学基金委，是管理中华人民共和国“国家自然科学基金”的正部级国务院直属事业单位。</p>
                        <p>中华人民共和国国务院于1986年2月14日批准成立面向全国的自然科学基金，目的是推动中华人民共和国科技体制改革，变革科研经费拨款方式。而自然科学基金委成立的目的是为中国的科学研究和交流提供科研经费资助。2010年以来，每年管理并用于资助科学研究项目的资金总额已超过100亿元。</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- 上海市自然科学基金 -->
                <div class="divider"></div>
                <h3 id="上海市自然科学基金" class="anchor">上海市自然科学基金</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-responsive" src="assets/images/projects-pic/NSFC.png" style="max-height:250px;">
                    </div>
                    <div class="col-sm-7 col-sm-offset-1 sm-margin-b-50">
                        <p>中国计算机学会（CCF）会员、ACM会员、CCF服务计算专委会委员、CCF YOCSEF上海委员、上海计算机学会会员、上海计算机学会人工智能专委会学术秘书。</p>
                        <p>2012年毕业于同济大学，获计算机应用技术专业博士学位。2009年10月-2011年10月，曾作为国家公派留学人员， 在美国华盛顿大学（Washington University in St. Louis）计算机科学与工程系，从事两年科研学习工作。2012年8月起，进入上海大学计算机工程与科学学院从事科研与教学工作，组建了服务计算与数据挖掘实验室。</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- 科技部重点研发计划项目 -->
                <div class="divider"></div>
                <h3 id="科技部重点研发计划项目" class="anchor">科技部重点研发计划项目</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-responsive" src="assets/images/projects-pic/MST.jpg" style="max-height:250px;">
                    </div>
                    <div class="col-sm-7 col-sm-offset-1 sm-margin-b-50">
                        <p>中国计算机学会（CCF）会员、ACM会员、CCF服务计算专委会委员、CCF YOCSEF上海委员、上海计算机学会会员、上海计算机学会人工智能专委会学术秘书。</p>
                        <p>2012年毕业于同济大学，获计算机应用技术专业博士学位。2009年10月-2011年10月，曾作为国家公派留学人员， 在美国华盛顿大学（Washington University in St. Louis）计算机科学与工程系，从事两年科研学习工作。2012年8月起，进入上海大学计算机工程与科学学院从事科研与教学工作，组建了服务计算与数据挖掘实验室。</p>
                    </div>
                </div>
                <!--// end row -->
                <!-- 原型系统 -->
                <div class="divider"></div>
                <h2 id="systems" class="anchor">原型系统</h2>
                <div class="row">
                    <div class="col-sm-7 sm-margin-b-50">
                        <p>中国计算机学会（CCF）会员、ACM会员、CCF服务计算专委会委员、CCF YOCSEF上海委员、上海计算机学会会员、上海计算机学会人工智能专委会学术秘书。</p>
                        <p>2012年毕业于同济大学，获计算机应用技术专业博士学位。2009年10月-2011年10月，曾作为国家公派留学人员， 在美国华盛顿大学（Washington University in St. Louis）计算机科学与工程系，从事两年科研学习工作。2012年8月起，进入上海大学计算机工程与科学学院从事科研与教学工作，组建了服务计算与数据挖掘实验室。</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <img class="img-responsive" src="assets/images/projects-pic/systems.png" style="max-height:250px;">
                    </div>
                </div>
                <!--// end row -->
            </div>


        </div>
        <div class="col-xs-2" role="complementary">
            <!-- topMargin调整滚动比率 -->
            <scrollSpy-index-render [scrollSpyIndexRenderOptions]="{id: 'projects', spyId: 'window', topMargin: affixTopMargin+40}" [scrollSpyAffix]="{topMargin: affixTopMargin}" class="hidden-print hidden-xs hidden-sm">
            </scrollSpy-index-render>
        </div>
    </div>
</div>